{#
/**
 * @file course_student_entity.html.twig
 * Default theme implementation to present name data.
 *
 * This template is used when viewing name pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_course_student_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('course_student_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
